.tableWrapper {
    max-width: 1440px;
    padding-top: 100px;
    margin: 0 auto;    
 }

 .loading {
  max-width: 1280px;
  margin: 150px auto;
 }
 .loading h2 {
  text-align: center;
 }

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 1rem 0;
  }
  
  th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  tr {
    border: 1px solid #ddd;
  }
  
  td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  th, td {
    text-align: center;
  }
  
  .pagination {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    font-size: 24px;
  }

  .active-page {
    border: 2px solid blue;
    padding: 5px 10px;
  }

  .pagination-arrows:not(.left-position-off):hover {
    cursor: pointer;
  }

  .left-position-off {
    opacity: 20%;
  }